* {
    box-sizing: border-box;
}

GenerationForm{
    height: auto;
}

FilePreview{
    width: 50%;
}

Vertical {
    & Container{
        height: 1fr;
    }

    & #path-container{
        height: auto;
    }
}

#search-container{
    height: auto;
    padding: 1;

    & Input{
        width: 1fr;
    }

    & Button{
        width: auto;
    }
}
